@media screen and (min-width: 66.1rem) {
  .stylebg {
    width: 32.688rem;
    height: 27.125rem;
    max-width: 100%;
  }
}

@media screen and (max-width: 70.5rem) {
  .stylebg {
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
  }
}

.design {
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 38px #8c929d46;
  border-radius: 1.375rem;
  opacity: 0.9;
}

@media screen and (max-height: 125rem) {
  .circle {
    width: 7.5rem;
    height: 7.5rem;
    background: #24d0fd 0% 0% no-repeat;
    position: relative;
    margin-left: 28.125rem;
    margin-bottom: 5rem;
    max-width: 100%;
    left: 2.5rem;
    opacity: 1;
    border-radius: 50%;
  }
}

@media screen and (min-height: 118.75rem) {
  .circle {
    position: relative;
  }
}

@media screen and (max-width: 118.75rem) {
  .circle {
    position: relative;
    width: 7.5rem;
    height: 7.5rem;
    margin-left: 26.25rem;
  }
}

@media screen and (max-width: 93.75rem) {
  .circle {
    margin-left: 25rem;
  }
}

@media screen and (max-width: 88.75rem) {
  .circle {
    margin-left: 22.5rem;
  }
}

@media screen and (max-width: 82.5rem) {
  .circle {
    margin-left: 20rem;
  }
}

@media screen and (max-width: 78.125rem) {
  .circle {
    margin-left: 17.5rem;
  }
}

@media screen and (max-width: 71.875rem) {
  .circle {
    margin-left: 15rem;
  }
}

@media screen and (max-width: 65.625rem) {
  .circle {
    margin-left: 12.5rem;
  }
}

@media screen and (max-width: 61.938rem) {
  .circle {
    margin-left: 21.25rem;

  }
}

@media screen and (max-width: 59.438rem) {
  .circle {
    margin-left: 18.75rem;
  }
}

@media screen and (max-width: 57.5rem) {
  .circle {
    margin-left: 22.35rem;
  }
}

@media screen and (max-width: 54.375rem) {
  .circle {
    margin-left: 20.75rem;
  }
}

@media screen and (max-width: 51.875rem) {
  .circle {
    margin-left: 18.25rem;
  }
}

@media screen and (max-width: 49.375rem) {
  .circle {
    margin-left: 15.75rem;
  }
}

@media screen and (max-width: 47.875rem) and (min-width: 46rem) {
  .circle {
    margin-left: 19.25rem;
  }
}

@media screen and (max-width: 46rem) {
  .circle {
    margin-left: 23.75rem;
  }
}

@media screen and (max-width: 40.625rem) {
  .circle {
    margin-left: 21.25rem;
  }
}

@media screen and (max-width: 39.063rem) {
  .circle {
    margin-left: 18.75rem;
  }
}

@media screen and (max-width: 36.25rem) {
  .circle {
    margin-left: 16.25rem;
  }
}

@media screen and (max-width: 32.5rem) {
  .circle {
    margin-left: 13.75rem;
  }
}

@media screen and (max-width: 30rem) {
  .circle {
    margin-left: 11.25rem;
  }
}

@media screen and (max-width: 27.5rem) {
  .circle {
    margin-left: 8.75rem;
  }
}

@media screen and (max-width: 25rem) {
  .circle {
    margin-left: 6.25rem;
  }
}

@media screen and (max-height: 125rem) {
  .triangle {
    width: 0.625rem;
    height: 0.625rem;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 80px solid #fdb740;
    margin-right: 3rem;
    opacity: 1;
    position: relative;
    max-width: 100%;
    right: 3rem;
    top: 23rem;
  }
}